@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared style */
.display-flex{
    display: flex;
}

.dark-2{
    color: #424242;
}
.dark-3{
    color:#727272;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
    
    border-radius: 8px;
    background-color: #FF900E;
    color:#FFFFFF;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;

}

.number{
    font-weight: 700;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;

}

.expln{
    font-weight: 600;
    font-size: 1.2rem;
    margin-top:10px ;
}

/* Header Style */

/* navbar style */
.brand{
    font-weight: bold;
    font-size:3rem ;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navitems{
    list-style: none;
    margin-right: 30px;
}

.navlink{
     text-decoration: none;
     font-weight: 500;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner related style */


.banner-content{
    max-width:850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
    
}
.banner-title{
    font-weight: bold;
    font-size: 4em;
}

.banner-image{
    width: 100%;
}


/* Team section style */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    /* width: 50%; */
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


/* Features related styles */

.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
}



.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-architect img{
    width: 100%;
}

#experience-badge{
    
    height: 200px;
    width: 342px;
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}


#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

/* Fact related style */
.facts-acvmnt-container{
    margin-left: 100px;
    margin-top: 60px;
    justify-content: space-around;
}
.box{
    border: solid #FF900E ;
    border-width: 1px;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    margin-right: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    
}

    
.facts-description{
    max-width: 540px;
}



/* Sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}


.sponsor-companies img{
    filter: grayscale(100%);
}



/* responsive Media Query */

@media screen and (max-width: 576px) {
    .navbar, .navlinks, .teams, .facts-acvmnt-container, .features {
        flex-direction: column;
    }

    .team-img-container, .facts-acvmnt-container, .sponsor-companies{
        grid-template-columns: repeat(1,1fr);
    }

    .our-features{
        margin-left: 20px;
    }

    .facts-acvmnt-container{
        justify-items: center;
        
    }

    .box{
        margin-top: 24px;
    }
    
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

footer{
    margin-top: 130px;
}
footer> p{
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}



/* Medium Size Device */
@media screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column;

    }
    .our-features{
        margin-left: 50px auto;
    }
    
}